div {
	width:100px;
	height:50px;
}

#box1 {
	background: rgb(255, 100, 100);
}

#box2 {
	background: rgba(255, 100, 100, .2);
}

#box3 {
	background: hsla(210, 100%, 50%, .7);
}

#box4 {
	background: hsla(210, 100%, 40%, .7);
}

